name: PoC ChatOps

on: [issue_comment]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  chatops:
    runs-on: ubuntu-latest

    steps:
      - name: Listen for PR Comments
        uses: machine-learning-apps/actions-chatops@master
        with:
          TRIGGER_PHRASE: "!integration-test"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: it

      - name: Checkout
        if: steps.it.outputs.BOOL_TRIGGERED == 'true'
        uses: actions/checkout@v2

      - name: Hello world
        if: steps.it.outputs.BOOL_TRIGGERED == 'true'
        run: echo Hello, world!
        
      - name: Print PR comment variables
        if: steps.it.outputs.BOOL_TRIGGERED == 'true'
        run: echo "${USERNAME} made a triggering comment on PR# ${PR_NUMBER} for ${BRANCH_NAME}"
        env: 
          BRANCH_NAME: ${{ steps.prcomm.outputs.BRANCH_NAME }}
          PR_NUMBER: ${{ steps.prcomm.outputs.PULL_REQUEST_NUMBER }}
          USERNAME: ${{ steps.prcomm.outputs.COMMENTER_USERNAME }}
