name: PoC ChatOps

on: [issue_comment]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  chatops:
    # This job only runs for pull request comments
    if: ${{ github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - name: Listen for PR Comments
        uses: machine-learning-apps/actions-chatops@master
        with:
          TRIGGER_PHRASE: "!integration-test"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: it

      - name: Checkout
        if: steps.it.outputs.BOOL_TRIGGERED == 'true'
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.issue.pull_request.GITHUB_SHA }}

      - name: Hello world
        if: steps.it.outputs.BOOL_TRIGGERED == 'true'
        run: echo Hello, world! ${{ github.event.issue.pull_request.GITHUB_SHA }} ${{ github.event.issue.pull_request.GITHUB_REF }}
        
      - name: Check git branch
        if: steps.it.outputs.BOOL_TRIGGERED == 'true'
        run: git branch
